body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #f6d6d6;
    color: #201c18;
    text-align: center;
}



img {
    max-width: 50vw;
    border-radius: .5rem 5rem;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.italics {
    font-style: italic;
}

.justify {
    text-align: justify;
}

.margin-4rem {
    margin: 4rem;
}

.btn-lg-cta {
    border: solid 4px white;
    padding: 1rem 2rem;
    background-color: lightgoldenrodyellow;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.btn-lg-cta:hover {
    background-color: greenyellow;
}

.text-box {
    margin-bottom: 1rem;
}

.input {
    width: 50vw;
}

a {
    text-decoration: none;
}

.validation-error {
    color: red;
}