<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>

<h1>Log in to your account</h1>
<img th:src="@{/images/TacoCloud.png}" alt="A picture of Taco Cloud Logo, with three tacos">


<form method="POST" th:action="@{/login}">

    <div th:if="${param.error}">
        Unable to login. Check your username and password.
    </div>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" required/>
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" required />
    </div>
    <button class="btn-lg-cta" type="submit">Login</button>
</form>



<p>Don't have an account? <a th:href="@{/register}">Register here</a></p>
</body>
</html>